{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Fakultetlar{% endblock %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-mdb-backdrop="static" data-mdb-keyboard="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Faculty create</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'facultycreate' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Faculty List -->
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Fakultetlar</h2>
                        <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
                            <div style="padding-right: 12px;">
                                <button type="button" class="btn btn-primary">Export Exel</button>
                            </div>
                            {% if perms.user.add_faculty %}

                                <a href="" class="btn btn-success float-right" +
                                   data-mdb-modal-init data-mdb-target="#exampleModal">
                                    <i class="fa fa-plus-circle"></i> &nbsp; Add faculty
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end graph -->
            <div class="row column3">
            </div>
            <!-- end progress bar -->
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fakultet</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                        </label>
                                    </div>
                                </th>
                                <th> Fakultet Name</th>
                                <th>Nomer</th>

                                <th> Crud</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for foo in faculties %}
                                <tr>
                                    <td>
                                        <div class="form-check form-check-muted m-0">
                                            <label class="form-check-label">
                                            </label>
                                        </div>
                                    </td>
                                    <td>

                                        <b><span class="pl-2">{{ foo.name }}</span></b>
                                    </td>
                                    <td> 02312</td>


                                    <td>
                                        {% if perms.user.change_faculty %}


                                            <a class="edit-btn btn btn-primary btn-lg"
                                               href="{% url 'facultyupdate' foo.pk %}"><i
                                                    class="fa fa-pencil" style="color: #fff;"></i></a>
                                        {% endif %}
                                        {% if  perms.user.delete_faculty %}

                                            <a href="{% url 'facultydelete' foo.pk %}"
                                               class="delete-btn edit-btn btn btn-danger btn-lg delete-button"
                                               data-id="{{ foo.pk }}"><i class=" fa fa-trash-restore"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fakultetlar mamjud emas</h4>
                    <div class="table-responsive">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
{#       write alert for delete faculty#}
        $('.delete-button').click(function () {
            var id = $(this).data('id');
            var url = "{% url 'facultydelete' 0 %}".replace('0', id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            ).then((result) => {
                                location.reload();
                            });
                        }
                    });
                }
            });
        });

    </script>

{% endblock %}

