 <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li class="active">
                        <a href="{% url 'dashboard' %}"><i class="fa fa-graduation-cap"></i> <span>Fakultetlar</span></a>
                     </li>

                     <li><a href="{% url 'yonalishlar' %}"><i class="fa fa-bars"></i> <span>Yo`nalishlar</span></a></li>
                     
                     <li><a href="{% url 'guruh' %}"><i class="fa fa-users"></i> <span>Groups</span></a></li>

                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->