{% extends  'layouts/formsbase.html' %}
{% load static %}
{% block title %}Fakultetlar{% endblock %}
{% block content %}

<div class="col-12 grid-margin" style="padding-left: 450px">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h4 class="card-title">Add Kurs</h4>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
